<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a routerLink="/formulario" class="m-3" style="text-decoration: none;color: rgb(255, 0, 0); ">formulario</a>
          <a routerLink="/clima" class="m-3" style="text-decoration: none;color: rgb(255, 0, 0); ">clima</a>
          <a routerLink="/generador-qr" class="m-3" style="text-decoration: none;color: rgb(255, 0, 0); ">generador-qr</a>
          <a routerLink="/horoscopo" class="m-3" style="text-decoration: none;color: rgb(255, 0, 0); ">horoscopo</a>
          <a routerLink="/shazam" class="m-3" style="text-decoration: none;color: rgb(255, 0, 0); ">shazam</a>
          <a routerLink="/txt-audio" class="m-3" style="text-decoration: none;color: rgb(255, 0, 0); ">txt-audio</a>
          <a routerLink="/peliculas" class="m-3" style="text-decoration: none;color: rgb(255, 0, 0); ">peliculas</a>

          
        </div>
      </div>
    </div>
  </nav>