<div class="container" style="color: rgb(255, 255, 255);">
    <form class="bg-dark" #formsha="ngForm">
        <div class="container">
            <label> ingresa el nombre de la cancion</label>
            <input type="text" id="cancion" name="cancion" class="form-control" [(ngModel)]="nombre"> <br>
            <button class="btn btn-primary" (click)="buscar()">buscar cancion</button><br><br>
            <h5>su cancion es :</h5>
            <div *ngFor = "let cancion of canciones">
                <h6>{{cancion.nombre}}</h6>
                <div>
                    <img src="{{cancion.Cimg}}" alt="">
                </div>
                <div>
                    
                </div>
                <div>
                    <audio controls ><source src="{{cancion.Curl}}" type="audio/mp3"></audio>
                </div>
                
                
            </div>
        </div>
    </form>
</div>