<div class="container" style="color: rgb(255, 255, 255);">
    <form class="form-group bg-dark">
        <!--solicitar-->
        <div class="container">
        <label > ingrese la direccion URL</label>
        <input type="text"class="form-control">
        </div>
        <br>
        <!--boton-->
        <div class="container">
        <button class="btn btn-primary" (click)="convertir()">convertir url a qr</button>
        </div>
        <!--resiltado-->
        <div  >
            
        </div>
        <div>
        
        <img [src]="imgqr" alt="">
        </div>
    </form>
</div>