<div class="container" style="color: rgb(255, 255, 255);">
    <form class="bg-dark" #fortex="ngForm">
        <label > ingrese el texto </label>
        <input type="text" class="form-group" name="tex"id="tex" [(ngModel)]="traduc.texto">
        <br><button class="btn btn-primary" (click)="traducir()"> traducir</button>
        <div class="conainer">
            <audio controls ><source src="{{url}}" type="url" ></audio>
            <iframe src="{{url}}" frameborder="0" sandbox ></iframe>
        </div>    
        <div> {{fortex.form.value |json}}</div>
    </form>

</div>