<div class="container" style="color: rgb(255, 255, 255);">
    <form class="bg-dark" #fortex="ngForm">
        <label > ingrese el texto </label>
        <input type="text" class="form-group" name="tex"id="tex" [(ngModel)]="traduc.texto">
        <br><button class="btn btn-primary" (click)="traducir()"> traducir</button>
        <div>
            <h6>{{traduc.Turl}}</h6>
        </div>
        <div>
            <source src="{{traduc.Turl}}" id="audio" name="audio">
        </div>
        <div> {{fortex.form.value |json}}</div>
    </form>

</div>